.cartList {
  width: 93%;
  padding: 20px;
  border: 1px solid #d5d5d5d8;
  margin: 15px;
  border-radius: 17px;
}

.itemWrap {
  display: flex;
}

.title {
  padding-left: 13px;
}

.qty {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: white;
  font-size: 20px;

}

.trash {
  border: none;
  background-color: white;
} 

  